@import "tailwindcss";

@theme {
  /* colores kaguais */
  --color-brand-beige: #F5F1E7;
  --color-brand-dark: #1E1E1E;
  --color-brand-highlight: #C2D3E4;
  --color-brand-salmon: #D5615B;
  --color-brand-steel: #9DB6D3;
  --color-brand-mint: #9BCCB1;
  --color-brand-brown: #5A453A;
  --color-brand-ieee: #00629B;

  /*tipografías kaguais*/
  --font-serif: var(--font-lora), Georgia, "Times New Roman", serif;
  --font-sans: var(--font-montserrat), sans-serif;
}